<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style><%= customCSS %></style>
</head>
<body>
  <h1>site1 theme 🤘</h1>
  <main><%- mainContent %></main>
  <pre>
    Try to update ACTIVE_THEME=site1
    to .env.local
  </pre>
  <a href="/post">>>> [All posts]</a>
  <footer><%- footerContent %></footer>
</body>
</html>